:root {
    --heading-text-color: steelblue;
    --padding: 5px;
    --img-border: 1px solid green;

}

nav {
    background-color: steelblue;
    padding: var(--padding);
}
nav a {
    color: white;
    display: block;
    padding: var(--padding);
}
h1 {
    color: var(--heading-text-color);
}
main img {
    width: 150px;
    height: auto;
    border: var(--img-border);
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}
p {
    padding: var(--padding);
}
main {
    max-width: 800px;
}
aside {
   width: 20rem; 
   margin: 10px;
   border: 2px solid rgba(0,0,0,.2);
   padding: var(--padding);
   background-color: rgb(233, 220, 192);
   color: rgb(59, 42, 20);
   text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 5px;
    border-top: 1px dotted;
    text-align: center
}